@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Add a Scripture";

    Validation.RequireField("book", "You must enter a book");
    Validation.RequireField("chapter", "Chapter number is required");
    Validation.RequireField("verse", "You haven't entered a verse number");
    Validation.RequireField("text", "You haven't entered the verse text");
    Validation.RequireField("note", "You haven't entered a note");
    Validation.Add("chapter", Validator.Integer("Chapter must be an integer"));
    Validation.Add("verse", Validator.Integer("Verse must be an integer"));

    var book = "";
    var chapter = "";
    var verse = "";
    var text = "";
    var note = "";
    DateTime myDateTime = DateTime.Now;
    string sqlFormattedDate = myDateTime.ToString("yyyy-MM-dd HH:mm:ss.fff");

    if (IsPost && Validation.IsValid())
    {
        book = Request.Form["Book"];
        chapter = Request.Form["Chapter"];
        verse = Request.Form["Verse"];
        text = Request.Form["Text"];
        note = Request.Form["Note"];

        var db = Database.Open("JournalDatabase");
        var insertCommand = "INSERT INTO JournalTable (Book, Chapter, Verse, Text, Note, Date) VALUES(@0, @1, @2, @3, @4, @5)";
        db.Execute(insertCommand, book, chapter, verse, text, note, sqlFormattedDate);

        Response.Redirect("~/ScriptureJournalMain");
    }
}


<h2>Add a Journal Entry</h2>
@Html.ValidationSummary()
<form method="post">
    <fieldset>
        <legend>Journal Information</legend>
        <p>
            <label for="book">Book:</label>
            <input type="text" name="book" value="@Request.Form["Book"]" />
            @Html.ValidationMessage("book")
        </p>
        <p>
            <label for="chapter">Chapter:</label>
            <input type="text" name="chapter" value="@Request.Form["Chapter"]" />
            @Html.ValidationMessage("chapter")
        </p>
        <p>
            <label for="verse">Verse:</label>
            <input type="text" name="verse" value="@Request.Form["Verse"]" />
            @Html.ValidationMessage("verse")
        </p>
        <p>
            <label for="text">Verse Text:</label>
            <input type="text" name="text" value="@Request.Form["Text"]" />
            @Html.ValidationMessage("text")
        </p>
        <p>
            <label for="note">Your note:</label>
            <input type="text" name="note" value="@Request.Form["Note"]" />
            @Html.ValidationMessage("note")
        </p>

        <p><input type="submit" name="buttonSubmit" value="Add Journal Entry" /></p>
    </fieldset>
</form>
